---
// src/components/landing/Structure.astro
import BaseLayout from "../../layouts/BaseLayout.astro";
import IntroCard from "../cards/IntroCard.astro";
import SocialLinksCard from "../cards/SocialLinksCard.astro";
import ProjectsCard from "../cards/ProjectsCard.astro";
import ResumeCard from "../cards/ResumeCard.astro";
import ThemeToggleCard from "../cards/ThemeToggleCard.astro";
import MarketDataCard from "../cards/MarketDataCard.astro";
import ContactCard from "../cards/ContactCard.astro";
import DailyQuoteCard from "../cards/DailyQuoteCard.astro";
import SkillsCard from "../cards/SkillsCard.astro";
import GradientMakerCard from "../cards/GradientMakerCard.astro";
import DiscordStatusCard from "../cards/DiscordStatusCard.astro";

// Get the base URL for assets
const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout
  title="Jacob Mounir | Portfolio"
  description="Welcome to my portfolio website"
>
  <section>
    <div class="p-4">
      <div
        class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
      >
        <IntroCard />
        <SocialLinksCard />
        <ResumeCard />
        <MarketDataCard />
        <ProjectsCard />
        <GradientMakerCard />
        <SkillsCard />
        <ThemeToggleCard />
        <ContactCard />
        <DailyQuoteCard />
      </div>
    </div>
  </section>
</BaseLayout>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    if (typeof VanillaTilt !== "undefined") {
      VanillaTilt.init(document.querySelectorAll(".tilt-card:not(.no-tilt)"), {
        max: 5,
        speed: 400,
        glare: true,
        "max-glare": 0.2,
        scale: 1.02,
      });
    }
  });
</script>
