---
// src/pages/index.astro
import Structure from '../components/landing/Structure.astro';
import projects from '../data/projects.js';
---

<Structure>
  <main class="container mx-auto px-4">
    {/* The projects are now handled in Structure.astro */}
  </main>
</Structure>
