<title>myPortfolio | Jacob Mounir</title>
<meta property="og:title" content="myPortfolio | Jacob Mounir">
<meta name="description" content="Welcome to myPortfolio - Jacob Mounir's personal portfolio">
<head>
  <!-- Update favicon paths -->
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/portfolio/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/portfolio/favicons/favicon-16x16.png"
  />
  <link
    rel="manifest"
    href="/portfolio/favicons/site.webmanifest"
  />
</head>